@mixin for-phone-only-portrait {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-phone-only-landscape {
    @media (min-width: 0px) and (orientation:landscape) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) and (orientation:portrait) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) and (orientation:landscape) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) and (orientation:landscape) { @content; }
  }
  $blue:rgb(8, 59, 102);
$orange:rgb(232, 131, 2);
$gray: rgb(194, 192, 192); 

.appBar{
  background-color:rgba(8, 59, 102,0.6) !important;
}
.toolBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerLogo{
  height:auto;
  width:10vw;
  margin:.5vw;
  margin-right: 2vw
}
.prequalButton{
  background-color:$orange !important;
  padding:0vw !important;
  border-radius:0px !important;
  display: flex;
 } 

@include for-phone-only-portrait{
    .appBar{
      height:6vh !important;
      position:fixed !important;
    }
    .headerLogo{
      width:15vw;
    }
}



@include for-phone-only-landscape{
.appBar{
  height:8vh !important;
}
.headerLogo{
  width:5vw;
  margin:-2vw 0vw 1.5vw 0vw;
}
.prequalButton{
  height: 8vh;
  width: 28vw;
  flex-direction: row;
  margin-top:-4vw !important;
 } 
    
}

@include for-tablet-portrait-up{
.appBar{
  height:6vh !important;
}
.headerLogo{
  width:11vw;
}
.prequalButton{
  height: 11vh;
  width: 22vw;
  flex-direction: column;
  margin-top:-1vw !important;
  padding-top:3vh !important;
}
}

@include for-tablet-landscape-up{
  .appBar{
    height:7vh !important;
  }
  .headerLogo{
    width:8vw;
    margin:.5vw 0vw 1vw 0vw;
  }
    
}


@include for-desktop-up{
  .appBar{
    height:10vh !important;
  }
  .headerLogo{
    width:7vw;
    &:hover{
      &:before{
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background: rgba(8, 59, 102, 0.1);
      }
    }
  }
   .prequalButton{
    height: 15vh;
    width: 11vw;
    margin-top:0vh !important;
    padding-top:3vh !important;
    &:hover{
      &:before{
        content: "";
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        background: rgba($blue, 0.1);
      }
    }
   } 
}

