@import '../Home/app'; 

.pageWrapper{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center;
    margin: 0vh 0vw 5vh 0vw;
.calculatorWrapper{
    display: flex;
    justify-content: center;
    text-align: center !important;
    .CalculatorInputLayout{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        text-align: center !important;
        width: 100%;
        .fullInputLayout{
            display: flex !important;
            flex-direction: column !important;
            width: 90%;
            .fullInputs{
                width: 100%;
            }
        }
        .inputLayout{
            display:flex !important;
            flex-direction: row !important;
            justify-content: space-between;
            width: 90%;
            .inputs{
                width: 47%;
            }
        }
    }
    .calculateButtonwrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .calculateButton{
            background-color:$orange !important;
            padding:0vw !important;
            border-radius:6px !important;
            &:disabled{
                background-color: $gray !important;
            }
        }
    }

    .cardHeader{
        background-color: $blue;
        color: white;
    }
    .table{
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
        text-align: center !important;
        width:100% !important;
        height: 100% !important;
        border-bottom: none;
        .tableBody{
            width: 95% !important;
            border-bottom: none;
            .tableCell{
                border-bottom: none;
            }
           
            
        }
    }
    
}
}

.captionTextWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% !important;
    margin-bottom: 1vh;
    .captionText{
        width:90%;
        text-align: center;
    }
}

@include for-phone-only-portrait{
.calculatorWrapper{
    flex-direction: column;
    margin: 0vh 0vw 5vh 0vw !important;
    .calculateButtonwrapper{
        width: 100%;
        .calculateButton{
            margin: 2vh 0vh 3vh 0vh !important;
            height: 7vh;
            width: 90%;
        }
    }
    .tableCard{
        margin-top: 5vh !important;
    }
}
   
    
    
}



@include for-phone-only-landscape{
    .calculatorWrapper{
        flex-direction: row;
        margin: 0vh 0vw 10vh 0vw;
        .calculateButtonwrapper{
            width: 100%;
            .calculateButton{
                margin: 2vh 0vh 3vh 0vh !important;
                height: 10vh;
                width: 50%;
            }
        }
        .tableCard{
            height: 100%;
            width: 30vw;
            margin: 0vh 0vw 0vh 5vw !important;
        }
    }
    
}



@include for-tablet-portrait-up{

    .calculatorWrapper{
        flex-direction: row;
        justify-content: space-between;
        margin: 0vh 0vw 10vh 0vw;
        .calculateButtonwrapper{
            width: 100%;
            .calculateButton{
                margin: 2vh 0vh 3vh 0vh !important;
                height: 5vh;
                width: 50%;
            }
        }
        .tableCard{
            width: 40vw;
            height: 100%;
            margin: 0vh 0vw 0vh 5vw !important;
        }
    }

}

@include for-desktop-up{
    .calculatorWrapper{
        justify-content: space-between;
        .calculateButtonwrapper{
            width: 100%;
            .calculateButton{
                height: 7vh;
            }
        }
        .tableCard{
            width: 25vw;
            margin: 0vh 0vw 0vh 5vw !important;
        }
    }
}


