  @import '../../pages/Home/app';
  

.footer{
    width:100%;
    margin:0;
    padding:0;
    .topfooter{
      background-color:#DDDDDD;
      color:$blue;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    
      .topfooterinfo{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        width:50%;
        margin: 3vh 0vw 3vh 0vw;
        .serving{
          display:flex;
          flex-wrap: wrap;
        }
      .licenseLogo{
        display:flex;
        flex-direction: column;
        } 
        img{
          margin-top: 2vh; 
          width: 12vh
        };
        .equal{
          margin-top: 2vh;
          height:4vh;
          width: 4vh
        }
      };
    };
}

    
    .bottomfooter{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color:$orange;
      padding:1vh;
      div{
        color:white
      }
    }


@include for-phone-only-portrait {
  .footer{
    margin-top:10vh;

    .topfooter{
      min-width:90vw;
    
      .topfooterinfo{
        justify-content: space-around;
        width:100%;
        .Info{
          max-width:50% !important;
        }
        img{
          width: 12vh
        };
        .equal{
          margin-top: 2vh;
          height:4vh;
          width: 4vh
        }
      };
    };

}
}

@include for-phone-only-landscape {
  footer{
    margin-top:0vh;
    .topfooter{
      .topfooterinfo{
        .Info{
          max-width:20% !important;
        } 
      };
    };
  }
    
}


@include for-tablet-portrait-up {
  footer{
    margin-top:0vh;
    .topfooter{    
      .topfooterinfo{
        .Info{
          max-width:25% !important;
        } 
      };
    };
  }

}


@include for-tablet-landscape-up {
  footer{
    margin-top:0vh;
    .topfooter{ 
      display: flex;
      flex-direction: row;   
      .topfooterinfo{
        .Info{
          max-width:25% !important;
        } 
      };
    };
  }

}


@include for-desktop-up {
  footer{
    margin-top:0vh;
    .topfooter{    
      .topfooterinfo{
        width:100%;
        .Info{
          max-width:20% !important;
        } 
      };
    };
  }

}



